.button {
    background-color: #849e85; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.sidenav{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 300px;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#849e85; /* #849e85 */
    overflow-x: hidden;
    padding-top:0%;
}

.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #646363;
    display: block;
}

.main {
    margin-left: 160px; 
    padding: 0px 10px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(243, 252, 245);
    /* width:50%; */
    /* display:flex; */
    /* flex: 0 0 auto; */
    /* overflow-y: hidden */

}
#profile h2 {
    position:relative;
    top:-50px;
    text-align: center;
}

#profile-picture{
    position:relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 235px;
    top: -35px;
    height: 300px;
    border-radius: 25px;
}


#profile {
    position:relative;
    left: 0px;
    top: 100px;
}


.content{
    width:50%;
    margin: 100px 0px 0px 0px;
    border: 2px solid rgb(247, 247, 247);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 6px 20px rgb(19, 18, 18);

}


#contact {
    position:relative;
    left:550px;
    top:57px;
    height: 150px;
}


#linkedin {
    position:relative;
    top:-13px;
    left:70px;
    display:inline-block; 
    width: 35px;
    height: 35px;
}
#linkedin2 {
    width: 34px;
    height: 34px;
}
#github {
    position:relative; 
    top:-13px;
    left:85px; 
    display:inline-block; 
    width: 40px;
    height: 40px;
    
}

#github2 {
    width: 34px;
    height: 34px;
}
#email {
    position:relative;
    top:-10px;
    left:50px;
    display:inline-block; 
    width: 40px;
    height: 40px;
}
#email2 {
    width: 40px;
    height: 40px;
}
#work-experience {
    position:relative;
    left: 550px;
    height: auto;
    
}

#project {
    position:relative;
    left:550px;
    top:-50px;
    height: auto;
}

#education {
    position:relative;
    left:550px;
    top:-100px;
    height: auto;

    
}

#award {
    position:relative;
    left:550px;
    top: -150px;
    height: auto;
}
  
#page_views {
    position:relative;
    left: 6%;
    
}
