.button {
    background-color: #849e85; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.sidenav{
    height: 100%;
    width: 300px;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: #849e85;
    overflow-x: hidden;
    padding-top:20px;
}

.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }

.sidenav a:hover {
    color: #f1f1f1;
  }

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
body {
    background-color: rgb(216, 208, 208);
    /* width:50%; */
    display:flex;
    /* overflow-x: hidden */

}

#profile-picture{
    position:relative;
    width: 235px;
    top: -30px;
    left: 20px;
    height: 300px;
    border-radius: 25px;
}
#linkedin {
    position:absolute;
    top:350px;
    left:8.5%;
    width: 35px;
    height: 35px;
}
#github {
    position:absolute;
    top:350px;
    left:13%;
    width: 35px;
    height: 35px;
    
}
#email {
    position:relative;
    top:30px;
    right:200px;
}
#profile {
    position:relative;
    left: 0px;
    top: 100px;
}

#work-experience {
    position:relative;
    left: 750px;
}

#page_views {
    position:relative;
    top:575px;
    left:800px;
}

/* #work{
    position:relative;
    left: 10px;
    top: 520px;
}
#project {
    position: relative;
    left:-80px;
    top: 550px;
} 
#education {
    position:relative;
    left: -120px;
    top: 580px;
}
#award {
    position: relative;
    left: -160px;
    top: 610px;
} */